body {
  background-color: rgb(40, 41, 85);
}

.message-lists {
  display: flex;
  flex-direction: row;
}

.message-board {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: left;
  color: aliceblue;
}

.navbar {
  display: flex;
  flex: 1;
  list-style: none;
  font-size: 1.25rem;
  background-color: aliceblue;
}
.navbar li {
  padding: 1vh;
}

.navbar li:hover {
  color: aliceblue;
  background-color: rgb(61, 105, 187);
  cursor: pointer;
}

.pressed {
  color: aliceblue;
  background-color: cornflowerblue;
}

.sentence::first-letter {
  text-transform: capitalize;
  color: aliceblue;
}

.sentence {
  font-size: 0.75rem;
  color: aliceblue;
  padding: 0.5vh;
}
